body
{
	background-image: url("background.png");
	font-family: monospace;
	font-size:20px;
	background-attachment: fixed;
}

#gombok
{
	width: 500px;
	height: 50px;
	font-size: 20px;
	font-family: lato;
	background-color: #43ab92;
	color: #fff;
	border: 0;
	margin-top: 20px;
	box-shadow: 2px 2px lightgrey;
    margin: 10px 5px 10px 5px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

h1
{
	text-align: center;
	font-family: Courier;
}

#pirosgomb
{
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-family: lato;
	background-color: #DD120D;
	color: #fff;
	border: 0;
	margin-top: 20px;
	box-shadow: 2px 2px lightgrey;
}

#fejlec
{
    display: grid;
    grid-template-columns: auto;
	height: 100px;
	align-items: center;
	background-repeat: no-repeat;
	background-size: center;
	background-position: center;
    margin-bottom: 30px;
}

#menu
{
    display: grid;
    grid-template-columns: auto auto auto;
}

#gombok:hover
{
    background-color: cornflowerblue;
}
