body
{
	background-image: url("background.png");
	font-family: monospace;
	font-size:20px;
	background-attachment: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

#gombok
{
	width: 350px;;
	height: 50px;
	font-size: 20px;
	font-family: lato;
	background-color: #43ab92;
	color: #fff;
	border: 0;
	margin-top: 20px;
	box-shadow: 2px 2px lightgrey;
    margin: 10px 10px 10px 15px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

h1
{
	text-align: center;
	font-family: Courier;
}


#menu
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 30px;
}

#gombok:hover
{
    background-color: cornflowerblue;
    text-decoration: none;
}

#hosszuszoveg
{
	text-align: justify;
    font-family: monospace;
	font-size:20px;
    margin-left: 50px;
    margin-right: 50px;
}


#gombszurke
{
    width: 500px;
	height: 50px;
	font-size: 20px;
	font-family: lato;
	background-color: #837B7B;
	color: #fff;
	border: 0;
	margin-top: 20px;
	box-shadow: 2px 2px lightgrey;
    margin: 10px 5px 10px 5px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

#gombszurke:hover
{
     background-color: darkkhaki;
     text-decoration: none;
}

#cim
{
    font-family: Comic Sans MS;
    text-align: center;
    font-size: 70px;
}

#vonal
{
    border-top: 2px solid black;
}

#balszoveg
{
    text-align:left;
}

#jobboldal
{
    text-align: right;
}

#tablazat
{
    border: 2px solid black;
    border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
tr, th, td {
  padding: 5px;
  text-align: left;    
}

#tablazatszoveg
{
    text-align: justify;
}

#gombmegoldas
{
    width: 250px;
	height: 50px;
	font-size: 20px;
	font-family: lato;
	background-color: indianred;
	color: #fff;
	border: 0;
	margin-top: 20px;
	box-shadow: 2px 2px lightgrey;
    margin: 10px 5px 10px 5px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

#gombmegoldas:hover
{
     background-color: darkseagreen;
     text-decoration: none;
}

#valaszok
{
   font-family: Syne Mono;
   font-size: 20px;
}

#feladatok
{
    font-family: Itim;
    font-size: 20px;
}

#abc
{
    font-family: Pacifico;
}

#content
{
    width: 400px;
    background: #fff;
    padding: 20px;
    font-family: calibri;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    max-height: 270px;
    overflow: hidden;
    /* Set transitions up. */
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max—height 0.7s;
}

#content.open {
    max-height: 1000px;
    /* Set transitions up. */
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more {
    background: #1594e5;
    color: #fff;
    font-family: calibri;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}

#gombutmutato
{
    width: 250px;
	height: 50px;
	font-size: 20px;
	font-family: lato;
	background-color: darkred;
	color:#fff;
	border: 0;
	margin-top: 20px;
	box-shadow: 2px 2px lightgrey;
    margin: 10px 5px 10px 5px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

#gombutmutato:hover
{
     background-color: firebrick;
     text-decoration: none;
}

h5
{
    font-family: Blippo;
}